.login-page__form,
.register-page__form {
  margin: 32px 0;
}

.login-page__form label,
.register-page__form label {
  font-size: 18px;
  font-weight: lighter;
}

.login-page__form input,
.register-page__form input {
  background-color: initial;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  display: block;
  font-family: Inter, sans-serif;
  font-size: 18px;
  margin-bottom: 16px;
  margin-top: 8px;
  padding: 10px 12px;
  width: 100%;
}

.login-page__form button,
.register-page__form button {
  background-color: #ffffff;
  border: 0;
  border-radius: 4px;
  color: #121212;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 12px;
  width: 100%;
}
