@import "auth.css";
@import "loading.css";

/* THEME COLORS */
:root {
  --background: #202124;
  --on-background: #fff;
  --on-background-gray: #c7c7c7;
  --yellow: #fff263;
}

[data-theme="light"] {
  --background: #f2f2f2;
  --on-background: #333;
  --on-background-gray: #6d6d6d;
  --yellow: #e79107;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--on-background);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

.note-app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 30px;
  border-bottom: 1px solid #aaa;
  position: sticky;
  top: 0;
  background-color: var(--background);
}

.note-app__header h1 {
  margin: 8px 0;
  flex: 1;
  color: var(--on-background);
}

.note-app_archive-button {
  border: 1px solid #aaa;
  color: var(--yellow);
  display: block;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-app__icon-button {
  background-color: transparent;
  border: none;
  color: var(--on-background);
  cursor: pointer;
  margin-bottom: -4px;
  margin-left: 1em;
}

.note-app__icon-button svg {
  width: 1.75em;
  height: 1.75em;
}

.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  min-height: calc(100vh - 225px);
  padding: 12px;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
}

.note-input {
  margin: 0 auto;
  max-width: 800px;
}

.note-input input,
.note-input textarea {
  display: block;
  width: 100%;
}

.note-input__title {
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.note-input__body {
  min-height: 175px;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.note-input button:hover {
  color: #fff;
  border: 1px solid #fff;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: #aaa;
}

.note-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 18px;
  flex: 1;
}

.note-item__title {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__body {
  font-size: 14px;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 20px;
}

.detail-page__action {
  display: flex;
}

.detail-page__delete-button,
.detail-page__archive-button,
.add-page__button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid #aaa;
  margin-top: 20px;
  padding: 8px 0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.detail-page__delete-button {
  color: #ff5f52;
}

.detail-page__archive-button,
.add-page__button {
  border-right: 1px solid #aaa;
  color: var(--yellow);
}

.detail-page__archive-button:hover {
  color: #c49000;
}

.detail-page__delete-button:hover {
  color: #b00020;
}

.note-search input {
  width: 100%;
}

.notes-app__footer {
  border-top: 1px solid #aaa;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
}

.note-body__heading {
  text-align: center;
}

.note-body__add-note-button {
  border: 1px solid #aaa;
  color: var(--yellow);
  display: block;
  width: 100%;
  background-color: transparent;
  padding: 12px 10px;
  margin-bottom: 50px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.detail-page {
  margin: 32px auto 0;
  width: 95%;
}

.detail-page__title {
  word-wrap: break-word;
  font-size: 48px;
  margin-bottom: 8px;
}

.detail-page__date {
  color: var(--on-background-gray);
}

.detail-page__body {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 36px;
  margin-bottom: 36px;
}

.add-page__input {
  margin-top: 32px;
}

.add-page__input .add-page__input__title {
  width: 100%;
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-weight: bold;
  padding: 8px 0;
}

.add-page__input__title::placeholder {
  color: var(--on-background-gray);
}

.add-page__input .add-page__input__body {
  width: 100%;
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  padding: 8px 0;
  min-height: 500px;
}

[data-placeholder]:empty::before {
  content: attr(data-placeholder);
  color: var(--on-background-gray);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  width: 300px;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }

  .ReactModal__Content,
  .ReactModal__Content--after-open {
    width: 300px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }

  .detail-page__title {
    font-size: 56px;
  }

  .ReactModal__Content,
  .ReactModal__Content--after-open {
    width: 600px;
  }
}

@media only screen and (min-width: 1200px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .detail-page__title {
    font-size: 64px;
  }

  .ReactModal__Content,
  .ReactModal__Content--after-open {
    width: 850px;
  }

  .note-search input {
    min-width: 400px;
  }
}
